[package]
name = "nethost-sys"
version = "0.1.0"
description = "FFI bindings for nethost"
readme = "README.md"
repository = "https://github.com/OpenByteDev/nethost-syst"
homepage = "https://github.com/OpenByteDev/nethost-sys"
documentation = "https://docs.rs/nethost-sys"
license = "MIT"
authors = ["OpenByte <development.openbyte@gmail.com>"]
edition = "2021"
links = "nethost"
categories = ["external-ffi-bindings"]
keywords = ["nethost", "dotnet", "bindings", "coreclr"]
build = "build/mod.rs"

[dependencies]
rs-ctypes = "0.1"

[build-dependencies]
build-target = { version = "0.2" }
reqwest = { version = "0.11", features = ["blocking", "json"], optional = true }
serde = { version = "1.0", features = ["derive"], optional = true }
serde_json = { version = "1.0", optional = true }
semver = { version = "1.0", optional = true }
zip = { version = "0.5", optional = true }

[features]
default = ["std"]
std = []
download-nuget = ["reqwest", "serde", "serde_json", "semver", "zip"]
